# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.old
*.log
*.tmp

# caches
.cache
*.cache
*.tsbuildinfo
*~

# distribution
dist
*.mo
*.zip

# IDE Project Configurations
# --------------------------
nbproject
.idea
.settings
.vscode
.project
.zed
*.sublime-*

# AI Agents
# --------------------------
.agents
.gemini
conductor
GEMINI.md

# Development
# --------------------------
.env.*
.env
vendor
node_modules

# Additional plugins and themes
scripts/init-*.txt

# Other package managers
packages/*/composer.lock
packages/*/license.txt
yarn.lock
pnpm-lock.yaml
package-lock.json
bun.lockb

# But Keep these
# --------------------------
!.env.example
!.env.*.example
!.gitkeep
