# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.old
*.log
*.tmp

# caches
.cache
*.cache
*.tsbuildinfo
*~

# distribution
dist
*.mo
*.zip

# IDE Project Configurations
# --------------------------
.idea
.project
.settings
.vscode
.zed
nbproject
*.sublime-*

# AI Agents
# --------------------------
.agents
.antigravitycli
.cursor
.gemini
.github/copilot-instructions.md
conductor
CLAUDE.md
GEMINI.md
opencode.json

# Development
# --------------------------
.env.*
.env
vendor
node_modules

# Other package managers
packages/*/composer.lock
packages/*/license.txt
bun.lockb
pnpm-lock.yaml
package-lock.json
yarn.lock

# But Keep these
# --------------------------
!.env.example
!.env.*.example
!.gitkeep
