<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="tests/.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="Integration Tests">
            <directory>tests/integrations</directory>
        </testsuite>

        <testsuite name="Unit Tests">
            <directory>tests/units</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="tests/reports/junit.xml"/>
    </logging>

    <coverage>
        <report>
            <clover outputFile="tests/reports/clover.xml"/>
            <html outputDirectory="tests/reports/html" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">packages</directory>
        </include>

        <exclude>
            <directory>packages/*/vendor</directory>
        </exclude>
    </source>
</phpunit>
